<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BAssetMapper">
    
    <resultMap type="BAsset" id="BAssetResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="symbol"    column="symbol"    />
        <result property="description"    column="description"    />
        <result property="type"    column="type"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBAssetVo">
        select id, name, symbol, description, type, create_time, update_time from b_asset
    </sql>

    <select id="selectBAssetList" parameterType="BAsset" resultMap="BAssetResult">
        <include refid="selectBAssetVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="symbol != null  and symbol != ''"> and symbol = #{symbol}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
        </where>
    </select>
    
    <select id="selectBAssetById" parameterType="Long" resultMap="BAssetResult">
        <include refid="selectBAssetVo"/>
        where id = #{id}
    </select>

    <insert id="insertBAsset" parameterType="BAsset" useGeneratedKeys="true" keyProperty="id">
        insert into b_asset
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="symbol != null">symbol,</if>
            <if test="description != null">description,</if>
            <if test="type != null">type,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="symbol != null">#{symbol},</if>
            <if test="description != null">#{description},</if>
            <if test="type != null">#{type},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBAsset" parameterType="BAsset">
        update b_asset
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="symbol != null">symbol = #{symbol},</if>
            <if test="description != null">description = #{description},</if>
            <if test="type != null">type = #{type},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBAssetById" parameterType="Long">
        delete from b_asset where id = #{id}
    </delete>

    <delete id="deleteBAssetByIds" parameterType="String">
        delete from b_asset where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>