<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BTransactionMapper">
    
    <resultMap type="BTransaction" id="BTransactionResult">
        <result property="id"    column="id"    />
        <result property="transactionId"    column="transaction_id"    />
        <result property="userId"    column="user_id"    />
        <result property="assetId"    column="asset_id"    />
        <result property="amount"    column="amount"    />
        <result property="type"    column="type"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectBTransactionVo">
        select id, transaction_id, user_id, asset_id, amount, type, status, create_time from b_transaction
    </sql>

    <select id="selectBTransactionList" parameterType="BTransaction" resultMap="BTransactionResult">
        <include refid="selectBTransactionVo"/>
        <where>  
            <if test="transactionId != null  and transactionId != ''"> and transaction_id = #{transactionId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="assetId != null "> and asset_id = #{assetId}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectBTransactionById" parameterType="Long" resultMap="BTransactionResult">
        <include refid="selectBTransactionVo"/>
        where id = #{id}
    </select>

    <insert id="insertBTransaction" parameterType="BTransaction" useGeneratedKeys="true" keyProperty="id">
        insert into b_transaction
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="transactionId != null">transaction_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="assetId != null">asset_id,</if>
            <if test="amount != null">amount,</if>
            <if test="type != null">type,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="transactionId != null">#{transactionId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="assetId != null">#{assetId},</if>
            <if test="amount != null">#{amount},</if>
            <if test="type != null">#{type},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateBTransaction" parameterType="BTransaction">
        update b_transaction
        <trim prefix="SET" suffixOverrides=",">
            <if test="transactionId != null">transaction_id = #{transactionId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="assetId != null">asset_id = #{assetId},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="type != null">type = #{type},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBTransactionById" parameterType="Long">
        delete from b_transaction where id = #{id}
    </delete>

    <delete id="deleteBTransactionByIds" parameterType="String">
        delete from b_transaction where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>