<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BWalletMapper">
    
    <resultMap type="BWallet" id="BWalletResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="address"    column="address"    />
        <result property="type"    column="type"    />
        <result property="balance"    column="balance"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBWalletVo">
        select id, user_id, address, type, balance, create_time, update_time from b_wallet
    </sql>

    <select id="selectBWalletList" parameterType="BWallet" resultMap="BWalletResult">
        <include refid="selectBWalletVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="balance != null "> and balance = #{balance}</if>
        </where>
    </select>
    
    <select id="selectBWalletById" parameterType="Long" resultMap="BWalletResult">
        <include refid="selectBWalletVo"/>
        where id = #{id}
    </select>

    <insert id="insertBWallet" parameterType="BWallet" useGeneratedKeys="true" keyProperty="id">
        insert into b_wallet
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="address != null">address,</if>
            <if test="type != null">type,</if>
            <if test="balance != null">balance,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="address != null">#{address},</if>
            <if test="type != null">#{type},</if>
            <if test="balance != null">#{balance},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBWallet" parameterType="BWallet">
        update b_wallet
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="address != null">address = #{address},</if>
            <if test="type != null">type = #{type},</if>
            <if test="balance != null">balance = #{balance},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBWalletById" parameterType="Long">
        delete from b_wallet where id = #{id}
    </delete>

    <delete id="deleteBWalletByIds" parameterType="String">
        delete from b_wallet where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>